version: 2.1

orbs:
  architect: giantswarm/architect@6.8.0

workflows:
  build:
    jobs:
      - architect/go-build:
          name: go-build
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-registries:
          name: push-to-registries
          context: architect
          requires:
            - go-build
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
